[run]
[report]
omit =  */kenv/*
        */asyncio\__init__.py                     
        */asyncio\base_events.py             
        */asyncio\base_futures.py             
        */asyncio\base_subprocess.py         
        */asyncio\base_tasks.py               
        */asyncio\constants.py                
        */asyncio\coroutines.py              
        */asyncio\events.py                  
        */asyncio\format_helpers.py           
        */asyncio\futures.py                
        */asyncio\locks.py                   
        */asyncio\log.py                      
        */asyncio\proactor_events.py         
        */asyncio\protocols.py                
        */asyncio\queues.py                  
        */asyncio\runners.py                  
        */asyncio\selector_events.py         
        */asyncio\sslproto.py                
        */asyncio\streams.py              
        */asyncio\subprocess.py              
        */asyncio\tasks.py                
        */asyncio\transports.py            
        */asyncio\windows_events.py          
        */asyncio\windows_utils.py           
        */concurrent\__init__.py             
        */concurrent\futures\__init__.py      
        */concurrent\futures\_base.py        
        */contextvars.py                     
        */ctypes\wintypes.py                
        */decimal.py                          
        */html\__init__.py                    
        */html\entities.py                    
        */http\client.py                     
        */http\client.py                    
        */http\cookiejar.py                
        */http\cookies.py                    
        */mimetypes.py                     
        */numbers.py                        
        */stringprep.py                    
        */uuid.py                           
        */app\__init__.py                     
        */app\docs\__init__.py                 
        */app\docs\orders\__init__.py          
        */app\models\__init__.py              
        */app\models\admin.py                 
        */app\models\connect.py          
        */app\models\user.py                  
