[run]
[report]
omit = */python/*
      */werkzeug/*
      */jinja2/*
      */flask/*
      */markupsafe/*
      */kenv/*
     */.vscode/*
     *__init__*
   
     

branch = true
include = */scrapy/*
omit =
    tests/*
    scrapy/xlib/*     
     
     
