<!DOCTYPE html>
<html>
<head>
<title>fAST FOODS</title>
<link rel="stylesheet" type="text/css" href="../static/css/menu.css">
<meta charset="utf-8"> 
<META name="keywords" lang="en-us" content="fast FOODS">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="topnav">
<div class = "header">
<h1>chucks fast foods</h1>
  </div>
  <a href="index.html">SignOut</a>  
  <a href="contact.html">Contact</a>
  <a class="active" href="menu.html">Menu</a>
  <a href="index.html">Home</a>
  
  <div class="search-container">
    <form action="/action">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>

<div class="content">
    <div class="orders">
      <h4>Order History.</h4>

      <div class="menu">
        ORDER HISTORY
      </div>

  <div class="order-item">
    <div class="order-image">
      <img src="images/img4.jpg" alt="default image">
      </div>
        <div class="content1">
          <div class="title">pizza - <span class="price">20,500 UGX</span> </div>
          <div class="description">
            All types of pizza: Beef, chicken, vegetables.
            <p><small class="date">Order Date: 2018-09-10 13:43:34 - By: jose</small></p>
          </div>
        </div>
        <div class="order-button">
          <button type="button" class="button declined">X Declined</button>
        </div>
      </div>            

<div class="order-item">
        <div class="order-image">
          <img src="images/img3.jpg" alt="default image">
        </div>
        <div class="content1">
          <div class="title">Shawarma - <span class="price">22000 UGX</span> </div>
          <div class="description">
            chapati rolled with either chicken, beef or vegetables pieces plus flies.
            <p><small class="date">Order Date: 2018-02-02 12:00:34 - By: cedric</small></p>
          </div>
        </div>
        <div class="order-button">
          <button type="button" class="button pending">Completed</button>
        </div>
      </div>
    
    </div>


    
<div class="orders2">
<h4> menu.</h4>

<div class="menu">
LIST OF FOODS
</div>

      

<div class="food-item">
        <div class="order-image">
          <img src="images/img1.jpg" alt="default image">
        </div>
        <div class="content1">
          <div class="title">Burgers - <span class="price">35,000 UGX</span> </div>
          <div class="description">
            banns with either chicken, beef or vegetables plus 1 coke and flies.
          </div>
        </div>
        <div class="order-button">
          <button type="button" class="button pending">order</button>
        </div>
      </div>
      

<div class="food-item">
        <div class="order-image">
          <img src="img1.jpg" alt="default image">
        </div>
        <div class="content1">
          <div class="title">Burgers - <span class="price">35,000 UGX</span> </div>
          <div class="description">
            banns with either chicken, beef or vegetables plus 1 coke and flies.
          </div>
        </div>
        <div class="order-button">
          <button type="button" class="button pending">order</button>
        </div>
      </div>
      

<div class="food-item">
        <div class="order-image">
          <img src="images/img1.jpg" alt="default image">
        </div>
        <div class="content1">
          <div class="title">Burgers - <span class="price">35,000 UGX</span> </div>
          <div class="description">
            banns with either chicken, beef or vegetables plus 1 coke and flies.
          </div>
        </div>
        <div class="order-button">
          <button type="button" class="button pending">order</button>
        </div>
      </div>


<div class="food-item">
        <div class="order-image">
          <img src="images/img.jpg" alt="default image">
        </div>
        <div class="content1">
          <div class="title">Burgers - <span class="price">35,000 UGX</span> </div>
          <div class="description">
            banns with either chicken, beef or vegetables plus 1 coke and flies.
          </div>
        </div>
        <div class="order-button">
          <button type="button" class="button pending">order</button>
        </div>
      </div>



<div class="food-item">
        <div class="order-image">
          <img src="images/img1.jpg" alt="default image">
        </div>
        <div class="content1">
          <div class="title">Burgers - <span class="price">35,000 UGX</span> </div>
          <div class="description">
            banns with either chicken, beef or vegetables plus 1 coke and flies.
          </div>
        </div>
        <div class="order-button">
          <button type="button" class="button pending">order</button>
        </div>
      </div>
    </div>
  </body>
</html>      