<!DOCTYPE html>
<html>
<head>
<title>sign in</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/signin.css') }}">
<meta charset="utf-8"> 
<META name="keywords" lang="en-us" content="fast foods">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="login-page">
<div class="form">
<form action="menu.html" id="signin_form" class="login-form">
<input type="Email" id="email" placeholder="Email" required/>
<input type="text" id="password" placeholder="password" required/>
<button type="submit" class="button">Sign Up</button>
<P class="message">Not registered?<a href="SignUp.html">register</a></p>
</form>
</div>
</div>

<script src="{{ url_for('static', filename='js/user.js') }}"></script>

</body>
</html>