<!DOCTYPE html>
<html>
<head>
<title>fAST FOODS</title>
<link rel="stylesheet" type="text/css" href="../../static/css/admin.css">
<meta charset="utf-8"> 
<META name="keywords" lang="en-us" content="fast-foods">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="topnav">
  <div class = "header">
  <h1>chucks fast foods</h1>
  </div>
  <a href="Admin-In.html">SignOut</a>
  <a href="edit.html" >foods</a>  
  <a href="#" class = "active">Admin</a>
  
  <div class="search-container">
    <form action="/action">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>

<div class="main-content">


<div class="content">
    <div class="foods">
      <h4> ORDERS CONFIRMED</h4>

      <div class="menu">
        confirmed orders
      </div>

      <div class="food-item">
        <div class="food-image">
          <img src="../images/images.jpg" alt="default image">
        </div>
        <div class="content1">
          <div class="title">pizza - <span class="price">20,500 UGX</span> </div>
          <div class="description">
            All types of pizza: Beef, chicken, vegetables.
            <p><small class="date">Order Date: 2018-08-10 01:43:34 - By: ahmad</small></p>
          </div>
        </div>
        <div class="food-button">
          <button type="button" class="button completed">completed</button>
        </div>
      </div>            

     <div class="food-item">
        <div class="food-image">
          <img src="../images/img.jpg" alt="default image">
        </div>
        <div class="content1">
          <div class="title">pizza - <span class="price">20,500 UGX</span> </div>
          <div class="description">
            All types of pizza: Beef, chicken, vegetables.
            <p><small class="date">Order Date: 2018-07-10 14:00:34 - By: jose</small></p>
          </div>
        </div>
        <div class="food-button">
          <button type="button" class="button declined">X Declined</button>
        </div>
      </div>            


<div class="food-item">
        <div class="food-image">
          <img src="../images/img1.jpg" alt="default image">
        </div>
        <div class="content1">
          <div class="title">pizza - <span class="price">20,500 UGX</span> </div>
          <div class="description">
            All types of pizza: Beef, chicken, vegetables.
            <p><small class="date">Order Date: 2018-09-10 13:43:34 - By: ahmad</small></p>
          </div>
        </div>
        <div class="food-button">
          <button type="button" class="button completed">completed</button>
        </div>
      </div>            

<div class="food-item">
        <div class="food-image">
          <img src="../images/img2.jpg" alt="default image">
        </div>
        <div class="content1">
          <div class="title">pizza - <span class="price">28,500 UGX</span> </div>
          <div class="description">
            All types of pizza: Beef, chicken, vegetables.
            <p><small class="date">Order Date: 2018-06-10 10:43:34 - By: twaib</small></p>
          </div>
        </div>
        <div class="food-button">
          <button type="button" class="button completed">completed</button>
        </div>
      </div>            

<div class="food-item">
  <div class="food-image">
    <img src="../images/img3.jpg" alt="default image">
      </div>
        <div class="content1">
          <div class="title">pizza - <span class="price">17,500 UGX</span> </div>
          <div class="description">
            All types of pizza: Beef, chicken, vegetables.
            <p><small class="date">Order Date: 2018-07-10 00:43:00 - By: didi kana</small></p>
          </div>
        </div>
        <div class="food-button">
      <button type="button" class="button completed">completed</button>
    </div>
  </div> 
</div>
</body>
</html>             

