<!DOCTYPE html>
<html>
<head>
<title>sign in</title>
<link rel="stylesheet" type="text/css" href="../../static/css/signin.css">
<meta charset="utf-8"> 
<META name="keywords" lang="en-us" content="fast foods">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="topnav">
 <h1>chucks fast foods</h1>
  <a href="../index.html">Home</a>
  <a class="active" href="#home">Admin</a>
</div>


<div class="main-content">

<div class = "login-page">

<div class = "form">
<div class = "header">
<h2>Admin<h2>
</div>
<form action="admin.html" class="login-form">
<input type="text" placeholder="username" required/>
<input type="text" placeholder="password" required/>
<button type="submit" class="button">SignIn</button>
<P class = "message">Not registered?<a href = "admin-signup.html">register</a></p>
</form>
</div>
</div>
</div>

</body>
</html> 